@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif ;
} */


html {
    height: 100%;
    color: #ffffff
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.scroll-container {
    padding-right: 10px;
}

.scroll-container::-webkit-scrollbar-track {
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar {
    width: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #919191;
    cursor: pointer;
}